{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container" style="margin-top:8%">
    <div class="content-section">
        <div class="media">
            <div class="container">
                <div class="card">
                    <div class="row justify-content-center">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <img class="rounded-circle account-img" src="{{ hood.picture.url }}"
                            width="100%">
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="media-body">
                           
                            <p class="text-secondary"> <b>Hood Name:</b> {{ hood.name }}</p>
                            <p class="text-secondary"> <b>Location:</b> {{ hood.location }}</p>
                            <p class="text-secondary"> <b>Members: <span><strong>{{hood.members.count}}</strong> Member{{hood.members.count|pluralize}}</span></p>

                            <p class="text-secondary"> <b>About Us :</b> {{ hood.description }}</p>
                            <p class="text-secondary"> <b>police emergency No :</b> {{ hood.health_department }}</p>
                            <p class="text-secondary"> <b>Hospital emergency No :</b> {{ hood.police_authorities }}</p>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <a href="{% url 'business' hood.id %}" class="btn btn-sm btn-outline-info mb-4 mr-4" >Add Business</a>  
              
        </div>
    <h1>Neighbourhood Businesses</h1>
    <div class="row">
        {% for busines in business %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{busines.name}}
                    </h5>
                    <p class="card-text">{{busines.email}}</p>
                    <p class="card-text">{{bususines.description}}</p>
                    <p class="card-text">Owner: <small class="text-muted">
                        {{ busines.user.user.username|title }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}